body {
	margin: 0px;
	padding: 0px;
}

#sidebar {
	background: #000000;
	width: 200px;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	left: -200px;
	font-family: "Helvetica Neue" Helvetica Arial sans-serif;
	transition: left 0.3s linear;
}

#sidebar.visible {
	left: 0px;
	transition: left 0.3s linear;
}
ul {
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style: none;
}

ul li a {
	background: #444444;
	color: #FFFFFF;
	border-bottom: 1px solid #000000;
	display: block;
	width: 180px;
	padding: 10px;
}