body {
	margin: 0px;
	padding: 0px;
}

#sidebar {
	background: #000000;
	width: 200px;
	height:100%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}
#sidebar ul {
	text-decoration: none;
}